base==1.0.4
cffi==1.9.1
click==6.7
colorama==0.3.7
cryptography==1.7.1
django-eav==0.9.4.post1
gevent==1.1.2
greenlet==0.4.10
idna==2.1
paramiko==2.1.1
py==1.4.22
pyasn1==0.1.9
pycparser==2.17
pytest==2.6.0
requests==2.13.0
six==1.10.0
uno==0.3.3
unoconv==0.6
ydd==0.2
